body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 5px;
}
li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #7ad8d5;
  border-radius: 10px;

  background: linear-gradient(
    to top,
    rgba(56, 248, 249, 0.3) -9.1%,
    rgba(213, 141, 240, 0.7) 48%,
    rgba(249, 56, 152, 0.9) 111.1%
  );
}
.overview {
  margin-bottom: 10px;
}
.weather-icon img {
  margin-right: 5px;
  height: 60px;
  width: 64px;
  line-height: 1;
}

.weather-icon strong {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-icon .units {
  position: relative;
  top: -32px;
}

.weather-icon .units .active {
  color: black;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
